/* This file is for your main application css. */

/* csslint ignore:start */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* csslint ignore:end */

.live-view-parent > div {
  height: 100%;
}

body {
  font-family: 'Fira Mono', monospace;
}

/* extending tailwind provided classes */
.max-h-1\/3 {
  max-height: 33%;
}

/* styling contextual help (Utility-first paradigm is not useful here since it's inserted raw) */
.contextual-help-doc h2 { /* csslint allow: qualified-headings */
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.contextual-help-doc pre {
  background-color: #234e52; /* teal-900 */
  border-radius: 4px;
  color: #81e6d9; /* teal-300 */
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
  white-space: pre-wrap;
}

.contextual-help-doc p > code {
  background-color: #234e52; /* teal-900 */
  border-radius: 2px;
  color: #81e6d9; /* teal-300 */
  padding: 0.25rem;
}
